<div class="register-user">
    <div class="card smoke w-50">
        <div class="card-body">
            <h2 class="login-box-msg text-center mb-4">Create a new account</h2>
            <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-center">
                            <img id="profilePicture"
                                [src]="registrationForm.get('profileImg')?.value || '/assets/imgs/blank-profile.png'">
                        </div>
                        <div class="input-group mb-3 justify-content-center">
                            <label for="profilePictureUpload" class="upload-profile-button">Upload Profile</label>
                            <input type="file" id="profilePictureUpload" formControlName="profileImg"
                                accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control" style="display: none;"
                                (change)="onFileChange($event)" />
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row user-name mb-3">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control primary-field" placeholder="First Name"
                                        formControlName="fName"
                                        [class.invalid-input]="getRegistrationControl('fName')?.invalid && getRegistrationControl('fName')?.touched"/>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="getRegistrationControl('fName')?.invalid && getRegistrationControl('fName')?.touched"
                                    class="text-danger ms-2">
                                    <span *ngIf="getRegistrationControl('fName')?.errors?.['required']">
                                        First Name is Required
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control primary-field" placeholder="Last Name"
                                        formControlName="lName" 
                                        [class.invalid-input]="getRegistrationControl('lName')?.invalid && getRegistrationControl('lName')?.touched"/>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="getRegistrationControl('lName')?.invalid && getRegistrationControl('lName')?.touched"
                                    class="text-danger ms-2">
                                    <span *ngIf="getRegistrationControl('lName')?.errors?.['required']">
                                        Last Name is Required
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <input type="email" class="form-control primary-field" placeholder="Email"
                                    formControlName="email" 
                                    [class.invalid-input]="getRegistrationControl('email')?.invalid && getRegistrationControl('email')?.touched"/>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-envelope"></span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="getRegistrationControl('email')?.invalid && getRegistrationControl('email')?.touched"
                                class="text-danger ms-2">
                                <span *ngIf="getRegistrationControl('email')?.errors?.['required']">
                                    Email is Required
                                </span>
                                <span *ngIf="getRegistrationControl('email')?.errors?.['email']">
                                    Email is Invalid
                                </span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <div class="input-group">
                                <input [type]="hidePassword ? 'password' : 'text'"  class="form-control primary-field pe-5" placeholder="Password"
                                    formControlName="pass" 
                                    [class.invalid-input]="getRegistrationControl('pass')?.invalid && getRegistrationControl('pass')?.touched"/>
                                    <span class="fa fa-fw field-icon" [ngClass]="hidePassword ? 'fa-eye-slash' : 'fa-eye' " (click)="hidePassword = !hidePassword"></span>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="getRegistrationControl('pass')?.invalid && getRegistrationControl('pass')?.touched"
                                class="text-danger ms-2">
                                <span *ngIf="getRegistrationControl('pass')?.errors?.['required']">
                                    Password is Required
                                </span>
                                <span *ngIf="getRegistrationControl('pass')?.errors?.['minlength']">
                                    Password must be at least 8 characters
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <input [type]="hideConfirmPassword ? 'password' : 'text'"  class="form-control primary-field pe-5" placeholder="Re-Enter Password"
                                    formControlName="confirmPass" 
                                    [class.invalid-input]="getRegistrationControl('confirmPass')?.invalid && getRegistrationControl('confirmPass')?.touched"/>
                                    <span class="fa fa-fw field-icon" [ngClass]="hideConfirmPassword ? 'fa-eye-slash' : 'fa-eye' " (click)="hideConfirmPassword = !hideConfirmPassword"></span>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="getRegistrationControl('confirmPass')?.invalid && getRegistrationControl('confirmPass')?.touched"
                                class="text-danger ms-2">
                                <span *ngIf="getRegistrationControl('confirmPass')?.errors?.['required']">
                                    Confirm Password is Required
                                </span>
                                <span *ngIf="getRegistrationControl('confirmPass')?.errors?.['passwordMismatch']">
                                    Password must match
                                </span>
                            </div>
                        </div>
                        <div class="input-group mb-3 ms-2">
                            <div class="icheck-primary">
                                <input type="checkbox" class="me-2 form-check-input" formControlName="terms">
                                <label for="agreeTerms">
                                    I agree to the <a href="#" class="">Terms</a>
                                </label>
                            </div>
                        </div>
                        <div class="w-100 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary btn-registery"
                                [disabled]="registrationForm.invalid">Register</button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- <div class="social-auth-links text-center">
                <div>
                    <p>
                        There are no external authentication services configured. See <a
                            href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>

                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl"
                    method="post" class="form-horizontal">
                    <div>
                        <p>
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name"
                                title="Log in using your @provider.DisplayName account">
                            </button>
                        </p>
                    </div>
                </form>
            </div> -->
            <div class="mt-4">
                <p class="text-center">Have already an account? <a [routerLink]="['/auth/login']"
                        class="primary-color">Login here</a></p>
            </div>
        </div>
    </div>
</div>